.notificacao-popup {
    color: #222;
}

.notificacao-popup-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    max-height: 324px;
    overflow-y: auto;
    overflow-x: hidden;
}

.notificacao-popup-all:hover {
    background-color: #f9f9f9;
}

.notificacao-popup-all i {
    margin-right: 10px;
}